<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
  <title>Login</title>
</head>

<body>

	<header th:replace="layout :: site-header" />
	
	<h1>Login in the Blog</h1>
	
	<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
	
	<form method="post" action="/users/login">
	  <div><label for="username">Username:</label></div>
	  <input id="username" type="text" name="username" th:value="*{username}" />
	
	  <div><label for="password" th:value="*{username}">Password:</label></div>
	  <input id="password" type="password" name="password" th:value="*{password}" />
	
	  <div><input type="submit" value="Login"/>
	  <a href="register.html" th:href="@{/users/register}">[Go to Register]</a></div>
	</form>
	
	<footer th:replace="layout :: site-footer" />

</body>

</html>